<!DOCTYPE html>
<html class="no-js ss-preload" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Donovan's Code Lab</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="./static/css/vendor.css">
    <link rel="stylesheet" href="./static/css/styles.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="./static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/favicon-32x32.png">
    <link rel="manifest" href="./static/site.webmanifest">

</head>

<body id="top">


    <!-- # preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
        </div>
    </div>


    <!-- # page wrap
    ================================================== -->
    <div class="s-pagewrap">

        <div class="circles">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>


        <!-- ## site header
        ================================================== -->
        <header class="s-header">

            <div class="header-mobile">
                <span class="mobile-home-link"><a href="index.html">Donovan.</a></span>
                <a class="mobile-menu-toggle" href="#0"><span>Menu</span></a>
            </div>

            <div class="row wide main-nav-wrap">
                <nav class="column lg-12 main-nav">
                    <ul>
                        <li><a href="index.html" class="home-link">Donovan.</a></li>
                        <li class="current"><a href="#intro" class="smoothscroll">Intro</a></li>
                        <li><a href="#about" class="smoothscroll">About</a></li>
                        <li><a href="#works" class="smoothscroll">Portfolio</a></li>
                        <li><a href="#contact" class="smoothscroll">Reach Me</a></li>
                    </ul>
                </nav>
            </div>

        </header> <!-- end s-header -->


        <!-- ## main content
        ==================================================- -->
        <main class="s-content">


            <!-- ### intro
            ================================================== -->
            <section id="intro" class="s-intro target-section">

                <div class="row intro-content wide">

                    <div class="column">
                        <div class="text-pretitle with-line">
                            Welcome to My Code
                        </div>

                        <h1 class="text-huge-title">
                            Hi I'm Donovan, <br>
                            a Fullstack <br>
                            Software Developer.

                        </h1>
                    </div>

                    <ul class="intro-social">
                        <li><a href="https://github.com/Donovan-Domaoan">GitHub</a></li>
                        <li><a href="https://www.instagram.com/donov4n._?igsh=NTc4MTIwNjQ2YQ%3D%3D&utm_source=qr">Instagram</a></li>
                        <li><a href="https://www.linkedin.com/in/donovan-domaoan-8700ba286?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">LinkedIn</a></li>
                    </ul>

                </div> <!-- end intro content -->

                <a href="#about" class="intro-scrolldown smoothscroll">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M11 21.883l-6.235-7.527-.765.644 7.521 9 7.479-9-.764-.645-6.236 7.529v-21.884h-1v21.883z"/></svg>
                </a>

            </section> <!-- end s-intro -->


            <!-- ### about
            ================================================== -->
            <section id="about" class="s-about target-section">


                <div class="row about-info wide" data-animate-block>

                    <div class="column lg-5 md-12 about-info__pic-block">
                        <img src="./static/images/aboutphoto.jpg"
                             srcset="./static/images/aboutphoto.jpg" alt="" class="about-info__pic" data-animate-el>
                    </div>

                    <div class="column lg-7 md-12">
                        <div class="about-info__text" >

                            <h2 class="text-pretitle with-line" data-animate-el>
                                About
                            </h2>
                            <p class="attention-getter" data-animate-el>
                                Hey, I’m Donovan — a software developer with a passion for full-stack development
                                and creating apps that are both functional and fun to use. I work primarily with Python
                                and love diving into challenges that push me to learn and grow.
                                I got into coding because I was looking for something that would truly challenge me —
                                and I’ve been hooked ever since. Whether I’m sketching out ideas or bringing them to
                                life through code, I enjoy every part of the process.
                                When I’m not in dev mode, you’ll probably find me shooting hoops, gaming, learning
                                piano, or geeking out over JDM cars. I’m always building, learning, and leveling up —
                                both on and off the screen.
                                Let’s build something awesome together.
                            </p>
                            <a href="#0" class="btn btn--medium u-fullwidth" data-animate-el>Download Resume</a>

                        </div>
                    </div>
                </div> <!-- about-info -->


                <div class="row about-expertise" data-animate-block>
                    <div class="column lg-12">

                        <h2 class="text-pretitle" data-animate-el>Competence</h2>

                        <ul class="skills-list h1" data-animate-el>
                            <li>Full-Stack Dev</li>
                            <li>ML & Data Science</li>
                            <li>Tech Stacks</li>
                            <li>Tools & Platforms</li>
                            <li>Ongoing Learning</li>
                        </ul>

                    </div>
                </div> <!-- end about-expertise -->


                <div class="row about-timelines" data-animate-block>

                    <div class="column lg-6 tab-12">

                        <h2 class="text-pretitle" data-animate-el>
                            Tech Stack
                        </h2>

                        <div class="timeline" data-animate-el>

                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">Languages & Frameworks</h4>
                                    <h5 class="timeline__meta">Programming Languages</h5>
                                </div>
                                <div class="timeline__desc">
                                    <p>Python, Javascript, CSS, HTML</p>
                                </div>
                               <div class="timeline__header">
                                    <h5 class="timeline__meta">Frameworks</h5>
                                </div>
                                <div class="timeline__desc">
                                    <p>React, Node.js, Express, Django, Flask</p>
                                </div>
                                <div class="timeline__header">
                                    <h5 class="timeline__meta">Databases</h5>
                                </div>
                                <div class="timeline__desc">
                                    <p>MySQL, PostgreSQL, MongoDB</p>
                                </div>
                            </div>

                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">AI, ML & Data Science</h4>
                                    <h5 class="timeline__meta">Libraries</h5>
                                </div>
                                <div class="timeline__desc">
                                    <p>Scikit-learn, XGBoost, CatBoost, Pandas, NumPy, Matplotlib</p>
                                </div>
                                <div class="timeline__header">
                                    <h5 class="timeline__meta">Frameworks</h5>
                                </div>
                                <div class="timeline__desc">
                                    <p>TensorFlow, PyTorch</p>
                                </div>
                                <div class="timeline__header">
                                    <h5 class="timeline__meta">ML Algorithms</h5>
                                </div>
                                <div class="timeline__desc">
                                    <p>Regression, Classification, Neural Networks</p>
                                </div>
                            </div>

                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">Tools & Platforms</h4>
                                    <h5 class="timeline__meta">IDE & Package Management</h5>
                                </div>
                                <div class="timeline__desc">
                                    <p>VS Code, PyCharm, Pip, Anaconda, Conda, Jupyter Notebook</p>
                                </div>
                                <div class="timeline__header">
                                    <h5 class="timeline__meta">Version Control</h5>
                                </div>
                                <div class="timeline__desc">
                                    <p>GitHub/Git</p>
                                </div>
                                <div class="timeline__header">
                                    <h5 class="timeline__meta">Cloud & Deployment</h5>
                                </div>
                                <div class="timeline__desc">
                                    <p>RESTful APIs, Docker, Heroku, Render</p>
                                </div>
                            </div>

                        </div> <!-- end timeline -->

                    </div> <!-- end column -->

                    <div class="column lg-6 tab-12">

                        <h2 class="text-pretitle" data-animate-el>
                            Education
                        </h2>

                        <div class="timeline" data-animate-el>

                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">Certifications</h4>
                                    <h5 class="timeline__meta">Complete Web Development</h5>
                                    <p class="timeline__timeframe">Zero to Mastery</p>
                                    <h5 class="timeline__meta">Complete Python Development</h5>
                                    <p class="timeline__timeframe">Zero to Mastery</p>
                                    <h5 class="timeline__meta">Complete A.I. Machine Learning and Data Science</h5>
                                    <p class="timeline__timeframe">Zero to Mastery</p>
                                </div>
                            </div>

                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">In Progress..</h4>
                                    <h5 class="timeline__meta">Deep Learning and AI</h5>
                                    <p>Exploring neural networks using TensorFlow and PyTorch, with focus on applying to small real-world projects.</p>
                                </div>
                                <div class="timeline__header">
                                    <h5 class="timeline__meta">Fundementals</h5>
                                    <p>Reviewing data structures and algorithms to improve problem-solving and system design.</p>
                                </div>
                                <div class="timeline__header">
                                    <h5 class="timeline__meta">Developer Workflows</h5>
                                    <p>Focusing on writing better documentation, improving version control habits, working on how to contribute to open source projects.</p>
                                </div>
                            </div>

                        </div> <!-- end timeline -->

                    </div> <!-- end column -->


                </div> <!-- end about-timelines -->

            </section> <!-- end s-about -->


            <!-- ### works
            ================================================== -->
            <section id="works" class="s-works target-section">


                <div class="row works-portfolio">

                    <div class="column lg-12" data-animate-block>

                        <h2 class="text-pretitle" data-animate-el>
                            Creations
                        </h2>
                        <p class="h1" data-animate-el>
                            Check out some of the recent projects I've been working on. Let me know what you think!
                        </p>

                        <ul class="folio-list row block-lg-one-half block-stack-on-1000">

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-01">
                                    <div class="folio-list__item-pic">
                                        <img src="./static/android-chrome-512x512.png"
                                             srcset="./static/android-chrome-512x512.png"  alt="">
                                    </div>

                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Website
                                        </div>
                                        <div class="folio-list__item-title">
                                            Donovan's Code Lab
                                        </div>
                                    </div>
                                </a>
                            </li> <!--end folio-list__item -->

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-02">
                                    <div class="folio-list__item-pic">
                                        <img src="./static/images/portfolio/gallery/face-scan1.png" alt="">
                                    </div>

                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Face Detection Project
                                        </div>
                                        <div class="folio-list__item-title">
                                            Cogniface
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="https://cogniface.onrender.com/" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-03">
                                    <div class="folio-list__item-pic">
                                        <img src="./static/images/portfolio/gallery/predictions.png" alt="">
                                    </div>

                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            COMING SOON..
                                        </div>
                                        <div class="folio-list__item-title">
                                            ChartBot
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-04">
                                    <div class="folio-list__item-pic">
                                        <img src="./static/images/portfolio/bulldozer.png">
                                    </div>

                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Structured Data Project
                                        </div>
                                        <div class="folio-list__item-title">
                                            Dirt to Dollars
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="https://github.com/Donovan-Domaoan/Dirt-to-Dollars/blob/main/Bulldozer-Price-Prediction.ipynb" title="Dirt to Dollars">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-05">
                                    <div class="folio-list__item-pic">
                                        <img src="./static/images/portfolio/filter.png">
                                    </div>

                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Web Scraping
                                        </div>
                                        <div class="folio-list__item-title">
                                            TechPulse
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="https://github.com/Donovan-Domaoan/TechPulse" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-06">
                                    <div class="folio-list__item-pic">
                                        <img src="./static/images/portfolio/heart-rate.png">
                                    </div>

                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Structured Data Project
                                        </div>
                                        <div class="folio-list__item-title">
                                            CardioML
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="https://github.com/Donovan-Domaoan/CardioML/blob/main/end-to-end-heart-disease-classification.ipynb" title="CardioML">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                        </ul> <!-- end folio-list -->

                    </div> <!-- end column -->


                    <!-- Modal Templates Popup
                    -------------------------------------------- -->
                    <div id="modal-01" hidden>
                        <div class="modal-popup">
                            <img src="./static/images/portfolio/gallery/website2.png" alt="">

                            <div class="modal-popup__desc">
                                <h5>Donovan's Code Lab</h5>
                                <p>This website is a reflection of my journey in tech, showcasing the projects I’ve built, the skills I’ve developed, and the things that inspire me.</p>
                            </div>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-02" hidden>
                        <div class="modal-popup">
                            <img src="./static/images/portfolio/gallery/facedetectimg.png" alt="">

                            <div class="modal-popup__desc">
                                <h5>Cogniface</h5>
                                <p>Built a full-stack face recognition app where users can register, sign in, and detect faces in images. Used React for the frontend, Node.js and Express for the backend, and PostgreSQL to handle user data. Everything’s fully connected and live — frontend, backend, database — all working together.</p>
                            </div>

                            <a href="https://cogniface.onrender.com/" class="modal-popup__details">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-03" hidden>
                        <div class="modal-popup">
                            <img src="#" alt="">

                            <div class="modal-popup__desc">
                                <h5>ChartBot</h5>
                                <p>AI Stock Analyzer is a Python-powered app that uses ChatGPT and LangChain to break down stock trends and company info in plain English. Just type in a stock, and it gives you smart, AI-generated insights—no finance degree required.</p>
                            </div>
                            <!-- <a href="#" class="modal-popup__details">Project link</a> --!>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-04" hidden>
                        <div class="modal-popup">
                            <img src="./static/images/portfolio/gallery/bulldozer2.png" alt="">

                            <div class="modal-popup__desc">
                                <h5>Dirt to Dollars</h5>
                                <p>Developed a regression model to estimate used bulldozer prices from historical auction data. Used algorithms like Random Forest Regression with feature engineering and cross-validation. Aimed at improving price transparency for heavy equipment sales.</p>
                            </div>

                            <a href="https://github.com/Donovan-Domaoan/Dirt-to-Dollars/blob/main/Bulldozer-Price-Prediction.ipynb" class="modal-popup__details">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-05" hidden>
                        <div class="modal-popup">

                            <img src="./static/images/portfolio/gallery/webscrape.png" alt="">

                            <div class="modal-popup__desc">
                                <h5>TechPulse</h5>
                                <p>TechPulse is a software engineering project that scrapes and filters top-rated stories from a trusted technology and cybersecurity news outlet. By leveraging web scraping techniques, the project provides curated, up-to-date content, ensuring that users stay informed about the latest trends and developments in the tech and cybersecurity fields.</p>
                            </div>

                            <a href="https://github.com/Donovan-Domaoan/TechPulse" class="modal-popup__details">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-06" hidden>
                        <div class="modal-popup">
                            <img src="./static/images/portfolio/gallery/heartdisease2.png" alt="">

                            <div class="modal-popup__desc">
                                <h5>CardioML</h5>
                                <p> Built a machine learning model to predict heart disease using structured clinical data. Applied classification algorithms and evaluated performance using ROC AUC and precision-recall. Includes feature analysis and model explainability.</p>
                            </div>

                            <a href="https://github.com/Donovan-Domaoan/CardioML/blob/main/end-to-end-heart-disease-classification.ipynb" class="modal-popup__details">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                </div> <!-- end works-portfolio -->

            </section> <!-- end s-works -->


            <!-- ### contact
            ================================================== -->
            <section id="contact" class="s-contact target-section">

                <div class="row contact-top">
                    <div class="column lg-12">
                        <h2 class="text-pretitle">
                            Get In Touch
                        </h2>

                        <p class="h1">
                            I'm open to new opportunities in software development. If you're looking for a driven <br>
                            full-stack developer, let's connect!<br>
                            Feel free to reach out —
                            I’m always up for a chat about tech, basketball, or JDM cars.
                        </p>
                    </div>
                </div> <!-- end contact-top -->

                <div class="row contact-bottom">
                    <div class="column lg-4 md-5 tab-6 stack-on-550 contact-block">
                        <h3 class="text-pretitle">Reach me at</h3>
                        <p class="contact-links">
                            <a href="mailto:codewithdonovan@gmail.com" class="mailtoui">codewithdonovan@gmail.com</a> <br>
                        </p>
                    </div>
                    <div class="column lg-4 md-5 tab-6 stack-on-550 contact-block">
                        <h3 class="text-pretitle">Socials</h3>
                        <ul class="contact-social">
                            <li><a href="https://www.linkedin.com/in/donovan-domaoan-8700ba286?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">LinkedIn</a></li>
                            <li><a href="https://www.instagram.com/donov4n._?igsh=NTc4MTIwNjQ2YQ%3D%3D&utm_source=qr">Instagram</a></li>
                            <li><a href="https://github.com/Donovan-Domaoan">GitHub</a></li>
                        </ul>
                    </div>
                    <div class="column lg-4 md-12 contact-block">
                        <a href="mailto:codewithdonovan@gmail.com" class="mailtoui btn btn--medium u-fullwidth contact-btn">Shoot an email.</a>
                    </div>
                </div> <!-- end contact-bottom -->

            </section> <!-- end contact -->

        </main> <!-- end s-content -->

    </div> <!-- end -s-pagewrap -->


    <!-- Java Script
    ================================================== -->
    <script src="./static/js/plugins.js"></script>
    <script src="./static/js/main.js"></script>

</body>
</html>